
<div class="animate__animated animate__fadeInDown">
    <NavLink class="nav-link" href="">   
       <h3>Home</h3>
        <img src="/BlazorIcon.png" class="BlazorIcon">
        <p style="text-align:center;margin-bottom: 3%;">Powered by Blazor</p>
    </NavLink>
</div>
