@page "/InfoBox"
@inherits BlazorServer.Pages.SubtitleFinderBase

        <div class="animate__animated animate__swing">
            <div class="alert alert-info" style="display:inline-flex">         
                <p> Crawls subscene and finds the most likely subtitle by using Levenshtein distance algorithm on the collected data.</p>
            </div>
        </div>
