@page "/Poster"
@inherits BlazorServer.Pages.SubtitleFinderBase
@using BlazorServer.Models

@code{
    [Parameter] public IEnumerable<SubtitleFinderModel> movieList { get; set; }
}


@if (movieList.Any())
{
    <div class="animate__animated animate__bounceIn">
        <img src="@movieList.FirstOrDefault().Poster" class="posterSection">
    </div>
}