
.typeAheadImage {
    object-fit: contain;
    width: 80px;
    height: 80px;
}


.drinkContainer {
/*    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;*/

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
/*    max-width: 500px;
    max-height: 400px;*/
}

.mat-elevation-z10 {
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    max-width: 330px;
    max-height: 400px;
    width: 90%;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
    .mat-elevation-z10:hover {
        background-color: #f3f3f3;
    }
.drinkCategory {
    display: contents;
}

.drinkImage {
    /*    object-fit: contain;
    width: 250px;
    height: 250px;*/
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
}

.drinkModalImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
.modalContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    align-content: space-between;
}
.detailBox {
    width: 50%;
    padding: 5%;
    display: flow-root;
}