@page "/"


<div class="cards-list">



    <NavLink class="nav-link" href="subtitleFinder">
        <div class="menuCard 1">
            <div class="card_image">
                <img src="/Images/SubtitleImage.jpg" />
            </div>
            <div class="card_title title-white">
                <p>Subtitle Finder</p>
            </div>

        </div>
    </NavLink>

    <NavLink class="nav-link" href="carfinder">
        <div class="menuCard 2">
            <div class="card_image">
                <img src="/Images/CarImage.jpg" />
            </div>
            <div class="card_title title-white">
                <p>License plate</p>
            </div>
        </div>
    </NavLink>

    <NavLink class="nav-link" href="Main">
        <div class="menuCard 2">
            <div class="card_image">
                <img src="/Images/CarImage.jpg" />
            </div>
            <div class="card_title title-white">
                <p>Image</p>
            </div>
        </div>
    </NavLink>

</div>

