@page "/"
<img src="/BlazorIcon.png" class="BlazorIcon">
<p style="text-align:center;margin-bottom: 3%;">Made with Blazor</p>

<div class="cards-list">
    <NavLink class="nav-link" href="subtitleFinder">
        <div class="menuCard 1">
            <div class="card_image">
                <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5711/5711151_so.jpg" />
            </div>
            <div class="card_title title-white">
                <p>Subtitle Finder</p>
            </div>

        </div>
    </NavLink>
    <NavLink class="nav-link" href="carfinder">
        <div class="menuCard 2">
            <div class="card_image">
                <img src="https://resources.mynewsdesk.com/image/upload/nopm8gior5skatbvjpxy.jpg" />
            </div>
            <div class="card_title title-white">
                <p>License plate</p>
            </div>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="graph">
        <div class="menuCard 2">
            <div class="card_image">
                <img src="https://s3.envato.com/files/66456584/Stock%20Market_069.jpg" />
            </div>
            <div class="card_title title-white">
                <p>Avanza Scraper</p>
            </div>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="drinkpicker">
        <div class="menuCard 2">
            <div class="card_image">
                <img src=" https://hips.hearstapps.com/esq.h-cdn.co/assets/16/22/1464794321-pilsner-urquell-pour4-copy.jpg?resize=480:*" />
            </div>
            <div class="card_title title-white">
                <p>Systembolaget API</p>
            </div>
        </div>
    </NavLink>


</div>

