@page "/LoadingIcon"

<div class="animate__animated animate__fadeInDown">
    @*🍺 🍻 🥂 🍷 🥃 🍸 🍹*@
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
